#graph{
    height: 540px;
    text-align: left;
    background-color:var(--main-tri1);
    margin: 0;
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.356) inset;
    // border-bottom: solid 1px var(--sub-tri3);
    overflow: hidden;
    padding: 0;
    color: var(--main-tri1);

    #graph-canvas{
        z-index: 99997;
        position: relative;
        background-color: transparent;
        height: 540px;
        // filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.281));
        left: 300px;

        div{
            overflow: hidden;
        }

        .graph-tooltip{
            display: none;
        }
    }

    #graph-tag{
        box-shadow: 3px 0 10px -3px rgba(0, 0, 0, 0.425);
        // filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.425));
        background-image: linear-gradient(0deg, var(--sub-sub1), var(--main-tri2));
        line-height: initial;
        height: 540px;
        width: 300px;
        position: absolute;
        left: 0;
        z-index: 99998;
        text-align: center;
        padding: 0;
        overflow: hidden;

        *{
            color: var(--main-tri1);
        }
    
        #img{
            background-color: var(--main-tri1);
            width: 100%;
            height: 50%;
            margin: 0;
            overflow: hidden;
        }

        .imgObj{
            height: 100%;
            width: 100%;
            overflow: hidden;
        }

        #detail-div{
            height: 45%;
            margin: 0;
            padding: 15px 15px;

            #title{
                font-size: 22px;
                font-weight: 800;
                padding: 0 0 5px;
                color: var(--main-tri1);
            }
        
            #subdetail{
                font-size: 12px;
                text-align: center;
                margin: 8px 0 4px;
                font-weight: 400;
                vertical-align: bottom; 

                // #date{
                //     font-weight: 500;
                // }
        
                // #category{
                //     padding-left: 10px;
                //     font-weight: 300;
                // }
        
                #event{
                    display: block;
                }
            }
        
            #detail{
                width: 100%;
                font-size: 16px;
                padding: 15px 0 0;
                display:inline-block;  
                text-align: justify;
                vertical-align: middle;
                letter-spacing: -0.03em;
            }
        }

        #link{
            background-color: #fbf9ed62;
            margin: 0;
            padding: 5px 0;
            vertical-align: middle;
            height: 5%;
            font-size: 15px;
            width: 100%;
            font-weight: 300;
            color: var(--main-tri1);
            vertical-align: middle;
        }

        #link:hover{
            background-color:#fbf9ed46;
        }

        hr {
            max-width: 30px;
            height: 2px;
            background-color:#fbf9ed77;
            margin: auto;
        }
    }

    #graph-tag[title="main"]{
        margin: 0;

        #title{
            font-size: 50px;
            font-weight: 900;
        }

        #detail{
        }
    }
}

@media screen and (max-width:569px){
    #graph{
        display: none;
    }
}