:root{
    --main-main1: #c01921;
    --main-main2: #cb8e34;
    --main-main3: #005f8b;

    --main-sub1: #92172d;
    --main-sub2: #cfd84f;
    --main-sub3: #35713e;

    --main-tri1: #fbf9ed;
    --main-tri2: #3e3a39;
    --main-tri3: #5973b7;

    --main-ac: #5caece;

    --sub-main1: #825058;
    --sub-main2: #e2c8bb;
    --sub-main3: #d3976d;

    --sub-sub1: #65272b;
    --sub-sub2: #d1a47e;
    --sub-sub3: #a37377;

    --sub-tri1: #ae0d16;
    --sub-tri2: #658d25;
    --sub-tri3: #412b1c;

    --sub-ac: #fff4d6;
}

// p.160
// p.196

html {
    background-color: var(--sub-main2);
    color: var(--sub-sub1);
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav{
    color: var(--sub-ac);
    
    a:hover{
        color: var(--sub-main2);
    }
}

header{
}

footer{
    background-color: var(--sub-sub1);
    color: var(--sub-ac);
    filter: drop-shadow(0px -1px 5px rgba(0, 0, 0, 0.425));

    a:hover{
        color: var(--sub-main2);
    }
}

@media screen and (max-width:569px){
    header{
        nav{
            background-color: var(--sub-sub1);
            filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.425));
        }
    }

    footer[title='home']{
        display: block;
    }

    main[page='home'] #contact{
        width: 100vw;
        position: absolute;
        height: auto;

        div[page='contact']{
            top: -38px;
            right: 5px;

            div{
                display: inline;
                margin: 0 3px;
                vertical-align: bottom;
            }

            div:hover{
                top:43px;
            }
        }
    }
}

@media screen and (min-width:570px){
    header{
        nav{
            background-color: var(--sub-sub1);
            filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.425));
        }
    }

    header[title='home']{
        position: absolute;
        min-height: 100vh; 
        width: 35px;
        margin: auto 0;

        nav{
            filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.425));
            background-color: var(--sub-sub1);
            flex-flow: column wrap-reverse;
            color: var(--sub-ac);
            position: absolute;
            right: 35px;
            transform-origin: right top;
            transform: rotate(-90deg );
            width: 100vh;
            height: 35px;
            text-align: right;

            a:hover{
                color: var(--sub-main2);
            }

            .App-logo{
                margin: auto 10px auto 0;
                text-align: right;
            }
        }
    }
    
    main[page='home']{
        margin: 0 0 0 35px;
        overflow: scroll;
        height: 100vh !important;
        
        section{
        }

        .container{
        }
    }

    footer{
        display: block;
    }

    footer[title='home']{
        display: none;
    }

    main[page='home'] #contact{
        div[page='contact']{
            div{
            }

            div:hover{
                left: 5px;
            }
        }
    }
}

