.detail{
    padding: 110px 80px ;
    text-align: left;
    overflow: hidden;
    min-height: 95vh;
    background-color: var(--sub-ac);
    color: var(--main-tri2);

    h4{
        margin:auto;
        color: var(--sub-sub1);
    }
}

.lists{
    display: flex;
    margin: 15px auto;
    flex-flow: row wrap;
    justify-content: left;
    color: var(--sub-sub1);
    background-color: var(--sub-ac);

    .list{
        overflow: hidden;
        width: 300px;
        height: 350px;
        margin: 25px 12px 25px 0px;
        vertical-align: middle;
        border: solid 1px var(--sub-sub1);
        padding: 0;
        flex: 1 1;

        *{
            margin: 0;
        }

        .imgOut{
            height: 60%;
            background-color: var(--sub-tri3);
        }
        .img{
            height: 100%;
            width: auto;
        }

        h3{
            color: var(--sub-main1);
            font-weight: 600;
            margin: 10px 0;
            padding: 0 10px 10px;
            position: relative;
            text-align: center;
            top:10px;
        }

        hr{
            margin: 0 10px;
            background-color: var(--sub-sub3);
            height: 1px;
        }

        .date{
            font-weight: 400;
            color: var(--sub-sub3);
            padding: 0 10px;
            font-size: 12px;
        }

        .small{
            font-weight: 500;
            padding: 0 10px;
            height: 50%;
            overflow: hidden;
            font-size: 16px;
        }
    }
    a:hover .list{
        border: 1px solid var(--sub-tri1);
        background-color: #ae0d1513;

        h3{
            color: #ae0d15c2;
        }

        hr{
            background-color: var(--sub-tri1);
        }
        
        .date{
            color: var(--sub-sub3);
        }
        
        .small{
            color: var(--sub-sub1);
        }
    }
}

@media screen and (max-width:569px){
    div #graph{
        display: none;
    }

    .detail{
        padding: 30px 10px;
    }

    .lists{
        margin: 15px auto;

        div{
            text-align: center;
            width: 100%;

            .list{
                height: 160px;
                margin: 6px auto;
            }

            h3{
                margin: 5px 0;
                font-size: 18px;
                text-align: left;
            }

            .date{
                font-size: 10px;
            }

            .small{
                font-size: 14px;
            }
        }
    }    


    .lists[page="projects"]{
        .list{
            .listDetail{
                margin: 0;
                float: left;
                width: 158px;
            
                *{
                    width: 158px;
                }
            }

            .imgOut{
                float: right;
                width: 120px;
                height: 160px;
                left: 50%;
                z-index: 99994;
            }
        }
    }

    .twitter{
        display: none;
    }
}


// for blog.js
// .twitter{
//     float: grow 1 shrink 1;
//     width: 100%;
//     max-width: 400px;
//     height: 500px;
//     background-color: rgb(21, 0, 34);
//     border-radius: 10px;
//     margin: 40px 0;
// }
.detail[title="projects"]{
    margin:0;
    background-color: var(--sub-ac);
}

.detail[title="contact"]{
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
    margin: auto; 

    .twitter{
        float: grow 1 shrink 1;
        width: 100%;
        max-width: 450px;
        height: 700px;
        background-color: rgb(21, 0, 34);
        border-radius: 10px;
        // margin: 40px 0;
    }

    .links{
        float: grow 1 shrink 1;
        width: 450px;
        margin: 40px auto 40px 0;

        .link{
            width: 100%;
            transition-duration: 0.5s;
            margin: -50px 0;

            .icon{
                font-size: 40px;
                position: relative;
                opacity: 0.8;
                border-radius: 3px;
                top:20px;
                transition-duration: 0.1s;
            }

            .icon[page="github"]{
                background-color: var(--main-tri1);
            }
    
            .icon[page="facebook"]{
                background-color: var(--main-tri3);
            }
    
            .icon[page="shihomihashi@gmail.com"]{
                background-color: var(--main-tri2);
            }

            p{
                position: relative;
                left: 55px;
                top:-50px;
                font-size: 18px;
                color: var(--main-tri2);
                font-weight: 400;
                margin: 0;
            }
        }
        
        .link:hover{
            .icon{
                rotate: -10deg;
            }

            // rotate: 10deg;
            .icon[page="github"]{
                color: var(--main-tri2);
                opacity: 1;
            }
            .icon[page="facebook"]{
                color: var(--main-tri3);
                opacity: 1;
            }
            .icon[page="shihomihashi@gmail.com"]{
                color: var(--main-tri2);
                opacity: 1;
            }
        }
    }
}