.detail{
    padding: 110px 80px ;
    text-align: left;
    overflow: hidden;
    min-height: 95vh;
    background-color: var(--sub-ac);
    color: var(--main-tri2);

    h4{
        margin:auto;
        color: var(--sub-sub1);
    }
}

.lists{
    display: flex;
    margin: 15px auto;
    flex-flow: row wrap;
    justify-content: left;
    color: var(--sub-sub1);
    background-color: var(--sub-ac);

    .list{
        width: 300px;
        height: 350px;
        margin: 25px 12px 25px 0px;
        vertical-align: middle;
        border: solid 1px var(--sub-sub1);
        flex: 1 1;

        *{
            margin: 0;
        }

        .imgOut{
            height: 60%;
            background-color: var(--sub-tri3);
        }
        .img{
            height: 100%;
            width: auto;
        }

        h3{
            color: var(--sub-main1);
            margin: 10px;
            font-weight: 500;
            padding: 0 0 10px;
            position: relative;
            text-align: center;
            top:10px;
            border-bottom: solid 1px var(--sub-sub3);
        }

        .date{
            font-weight: 400;
            color: var(--sub-sub3);
            margin: 0 10px;
            font-size: 12px;
        }

        .small{
            color: black;
            font-weight: 500;
            margin: 5px 10px;
            font-size: 16px;
        }
    }
    a:hover .list{
        border: 1px solid var(--sub-tri1);
        background-color: #ae0d1513;

        h3{
            color: #ae0d15c2;
            border-bottom: solid 1px var(--sub-tri1);
        }

        .date{
            color: var(--sub-sub3);
        }
        
        .small{
            color: var(--sub-sub1);
        }
    }
}

@media screen and (max-width:569px){
    div #graph{
        display: none;
    }

    .detail{
        padding: 30px 10px;
    }

    .lists{
        margin: 15px auto;

        div{
            text-align: center;
            width: 100%;

            .list{
                margin: 25px auto;
            }
        }
    }    
}


// for blog.js
// .twitter{
//     float: grow 1 shrink 1;
//     width: 100%;
//     max-width: 400px;
//     height: 500px;
//     background-color: rgb(21, 0, 34);
//     border-radius: 10px;
//     margin: 40px 0;
// }
.detail[title="projects"]{
    margin:0;
    background-color: var(--sub-ac);
}

.detail[title="contact"]{
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
    margin: auto; 

    .twitter{
        float: grow 1 shrink 1;
        width: 100%;
        max-width: 450px;
        height: 700px;
        background-color: rgb(21, 0, 34);
        border-radius: 10px;
        // margin: 40px 0;
    }

    .links{
        float: grow 1 shrink 1;
        width: 450px;
        margin: 0 auto 40px 0;

        .link{
            width: 100%;
            transition-duration: 0.5s;
            margin: -20px 0;

            .icon{
                font-size: 40px;
                position: relative;
                opacity: 0.5;
                top:20px;
                transition-duration: 0.1s;
            }

            .icon[page="github"]{
                color: var(--main-tri2);
            }
    
            .icon[page="facebook"]{
                color: var(--main-tri3);
            }
    
            .icon[page="shihomihashi@gmail.com"]{
                color: var(--main-tri2);
            }

            p{
                position: relative;
                left: 50px;
                top:-18px;
                font-size: 18px;
                color: var(--main-tri2);
                font-weight: 400;
                margin: 0;
            }
        }
        
        .link:hover{
            .icon{
                rotate: -10deg;
            }

            // rotate: 10deg;
            .icon[page="github"]{
                color: var(--main-tri2);
                opacity: 1;
            }
            .icon[page="facebook"]{
                color: var(--main-tri3);
                opacity: 1;
            }
            .icon[page="shihomihashi@gmail.com"]{
                color: var(--main-tri2);
                opacity: 1;
            }
        }
    }
}