.container {
    // display: block;
    // align-items: center;
}

.top {
    color: black;

    div {
        font-size: 40px;
        font-weight: 600;
        padding-top: 30vh;
        height: 100%;
    }

    a { 
        font-size: 30px;
        border-bottom: solid black 2px;
    }

    a:hover{
        color: red;
        border-bottom: red solid 2px;
    }
}

.bottom {
    top:0;
    right: 0;
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: 99996;

    .contactBackground{
        background-color: rgba(0, 0, 0, 0.295);
        width: 8px;
        position: absolute;
        right: 0;
        top:0;
        height: 100%;
    }
}

.profile{
    width: 100%;
    position: relative;
    padding: auto;
    margin: 40px 0 100px;
    // display: flex;
    // flex-flow: row wrap;
	justify-content: center;

    .profileDetails{
        color: black;
        height: 120px;
        padding: 20px 0;
        margin: 0;
        // float: grow 1 shrink 1;
        vertical-align: middle;
        text-align: center;
    }

    // @media screen and (max-width:690px){
    //     .profileDetails{
    //         padding: 40px;
    //         text-align: center;
    //     }
    // }
    
    .icon{
        // float: grow 1 shrink 1;
        width: 120px;
        margin: 0;
        height: 120px;
        object-fit: cover;
        background-color: rgb(184, 184, 184);
        border-radius: 100px;
    }
}

.skills{
    color: black;
    width: 100%;

    ul{
        margin: 0;
        padding: 0;
    }

    img{
        height: 30px;
        width: auto;
        object-fit: cover;
        margin: 2px;
    }

    .bigger{
        margin: 0 1px;
        height: 45px;
        width: auto;
        object-fit: cover;
    }
}

.lists{
    display: flex;
    margin: 15px auto;
    flex-flow: row wrap;
	justify-content: center;

    .list{
        width: 300px;
        height: 220px;
        margin: 15px 8px;
        vertical-align: middle;
        border: solid 1px rgba(255, 255, 255, 0.247);
        background-color: rgb(223, 223, 223);
        float: grow 1 shrink 1;
        
        *{
            margin: 0;
        }

        .imgOut{
            height: 50%;
            background-color: white;
        }
        .img{
            height: 100%;
            width: auto;
        }

        h3{
            margin: 10px;
            padding: 0 0 10px;
            position: relative;
            text-align: center;
            top:10px;
            border-bottom: solid 1px black;
        }

        .date{
            color: black;
            margin: 0 10px;
            font-size: 12px;
        }

        .small{
            color: black;
            margin: 0 10px;
            font-size: 16px;
        }
    }

    a:hover .list{
        border: 1px solid rgb(179, 179, 179);
    }
}

.link {
    position: relative;
    left: 110px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.651);
    // text-decoration: none;
}

.link::before {
    content: ">";
    color: black;
    font-size: 10px;
    padding: 1px 8px 0;
}

.link:hover{
    color: rgb(131, 67, 67);
    cursor: pointer;
}

.contactLinks{
    margin: 0;
    text-align: right;
    position: absolute;
    right: 0;
    top: 90px;
    padding: 0;
    z-index: 99998;

    .contactLink{
        position: relative;
        right: -10px;
        top:30px;
        color: black;
        text-align: left;
        padding: 0;
        margin: 2px 0;
        transition-duration: 0.2s;

        .icon{
            font-size:30px;
            margin: 0;
            padding: 0;
        }

        // p{
        //     position: relative;
        //     left:40px;
        //     top:-12px;
        //     font-size: 15px;
        //     font-weight: 900;
        //     color: rgb(97, 97, 97);
        //     margin: 0;
        //     padding: 0;
        // }
    }

    .contactLink:hover{
        right: -2px;
        // rotate: 10deg;
        .icon{
            color: rgb(73, 117, 128);
        }
    }
}