.container {
    // display: block;
    // align-items: center;
}

.top {

    div {
        font-size: 40px;
        font-weight: 600;
        padding-top: 30vh;
        height: 100%;
    }

    a { 
        font-size: 30px;
        border-bottom: solid var(--main-tri3) 2px;
    }

    a:hover{
    }
}

.bottom {
    top:0;
    left: 0;
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    z-index: 99999;
    // display: none;
}

.location{
    color: var(--main-main2);
    font-size: 14px;
    opacity: 0.8;
    position: relative;

    p{
        display: inline;
        padding: 0 0 0 4px;
    }
}

.profile{
    width: 100%;
    position: relative;
    padding: auto;
    margin: 40px 0 25px;
    // display: flex;
    // flex-flow: row wrap;
	justify-content: center;

    .profileDetails{
        width: 90%;
        max-width: 350px;
        padding: 20px 15px;
        margin: 20px auto 0;
        // float: grow 1 shrink 1;
        color: var(--sub-ac);
        background-color: rgba(255, 255, 255, 0.233);
        border-radius: 6px;

        .profileName{
            color: var(--main-tri1);
            font-weight: 900;
            font-size: 16px;
            text-align: center;
            margin: 8px 0 7px;
        }

        hr{
            background-color: var(--sub-ac);
            max-width: 20px;
            margin: 10px auto 25px;
        }

        .icon{
            // float: grow 1 shrink 1;
            width: 100px;
            margin: 0;
            height: 100px;
            object-fit: cover;
            border-radius: 100px;
            background-color: var(--sub-ac);
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.37);
        }

        .profileMain{
            text-indent: 1em;
            font-weight: 500;
            line-height: 1.7em;
            font-size: 14px;
            text-align: justify;
            margin: 0;
        }
    }
    // @media screen and (max-width:690px){
    //     .profileDetails{
    //         padding: 40px;
    //         text-align: center;
    //     }
    // }
}

.skills{
    color: var(--sub-ac);
    width: 90%;
    margin: 0 auto 20px;
    padding: 10px 15px 10px;
    text-align: center;

    hr{
        background-color: var(--sub-ac);
        max-width: 20px;
        margin: 8px auto 10px;
    }

    .skill{
        max-width: 250px;
        padding: 10px 0 10px;
        margin: 0 auto;
    }

    h4{
        color: var(--sub-ac);
    }
}

.lists{
    display: flex;
    margin: 15px auto;
    flex-flow: row wrap;
    justify-content: center;
    color: var(--sub-sub1);

    .list{
        width: 300px;
        height: 220px;
        margin: 15px 8px;
        vertical-align: middle;
        border: solid 1px var(--sub-sub1);
        background-color: var(--sub-ac);
        flex: 1 1 300px;
        
        *{
            margin: 0;
        }

        .imgOut{
            height: 50%;
            background-color: var(--sub-tri3);
        }
        .img{
            height: 100%;
            width: auto;
        }

        h3{
            color: var(--sub-main1);
            margin: 10px;
            padding: 0 0 10px;
            position: relative;
            text-align: center;
            top:10px;
            border-bottom: solid 1px var(--sub-sub3);
        }

        .date{
            color: var(--sub-sub3);
            margin: 0 10px;
            font-size: 12px;
        }

        .small{
            margin: 0 10px;
            font-size: 16px;
        }
    }

    a:hover .list{
        border: 1px solid var(--sub-tri1);
        background-color: #ae0d1513;

        h3{
            color: #ae0d15c2;
            border-bottom: solid 1px var(--sub-tri1);
        }

        .date{
            color: var(--sub-sub3);
        }
        
        .small{
            color: var(--sub-sub1);
        }
    }
}

.link {
    text-align: left;
    color: var(--sub-sub2);
    position: relative;
    font-size: 14px;
    margin: 0 0 0 50px;    
}

.link::before {
    color: var(--sub-sub2);
    content: ">";
    font-size: 10px;
    padding: 1px 8px 0;
}

.link:hover{
    cursor: pointer;
    color: #ae0d15c2;

}

.link:hover::before{
    color: #ae0d15c2;

}

.contactLinks{
    margin: 0;
    text-align: right;
    position: absolute;
    left: 0;
    bottom: 50px;
    padding: 0;
    z-index: 99998;
    
    .contactLink{
        position: relative;
        top:30px;
        text-align: center;
        left: -10px;
        padding: 0;
        margin: 4px 0;
        transition-duration: 0.2s;

        .icon{
            transition-duration: 0.2s;
            font-size:35px;
            margin: 0;
            border-radius: 3px;
            color: var(--sub-main2);
            opacity: 0.9;
            vertical-align:bottom;
            // filter: drop-shadow(2px 4px 0px #ae0d15c5);
        }

        .icon[page="github"]{
            color: var(--main-tri2);
            background-color: var(--sub-ac);
        }

        .icon[page="facebook"]{
            color: var(--main-tri3);
            background-color: var(--sub-ac);
        }

        .icon[page="shihomihashi@gmail.com"]{
            color: var(--main-tri1);
            background-color: var(--main-tri2);
            font-size:32px;
        }
    }

    .contactLink:hover{
        .icon[page="github"]{
            color: var(--main-tri2);
            opacity: 1;
        }
        .icon[page="facebook"]{
            color: var(--main-tri3);
            opacity: 1;
        }
        .icon[page="shihomihashi@gmail.com"]{
            color: var(--main-tri1);
            opacity: 1;
        }
    }
}