.App-navbar {
    display: flex;
    flex-flow: row wrap;
    z-index: 99999;
    text-align: left;
}

.App-navbar .App-navbar-item {
    margin: auto;
    flex: 2 none 300px;
    text-align: center;
}

.App-navbar[title="home"] > .App-navbar-item {
    display: none;
}

.App-navbar > :first-child {
}

.App-navbar .App-logo{
    padding : auto;
    text-align: left;
    margin: auto;
    flex: 1 none 210px;
}

.App-navbar .App-page{
    font-size: 16px;
    vertical-align: middle;
    flex: 2 none 120px;
    padding: 0 20px 0 0;
    margin: auto;
    text-align: right;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.7;
    overflow: hidden;
}

.App-navbar .App-page[title="home"]{
    display: none;
}

.App-navbar .App-page::before{
    content: "-";
    padding: 0 10px 0 0;
}

/* スクロール設定 */
/* .App-navbar  .App-logo[title="home"]{
    padding : 5px 20px
    display: none;
} */

/* ナビゲーションバー左端のロゴのリンク */
.App-navbar p a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin: auto 0 auto 30px;
}

.App-navbar-item ul {
    display: flex;
    text-align: right;
    justify-content: flex-end;
    /* flex-flow:row nowrap; */
    margin: 0;
    width: 100%;
}

.App-navbar-item ul li {
    vertical-align: middle;
    width: 100px;
    /* flex: 1 1 100px; */
    list-style: none;
    margin:5px 5px;
}

.App-navbar-item ul li :hover{
    background-color: rgba(255, 255, 255, 0.123);
    color: white;
}

.App-navbar-item ul li a {
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 2px 5px;
    border-radius: 5px;
}

.App-navbar-item ul li> .active {
    background-color: rgba(255, 255, 255, 0.123);
    border: 2px solid rgb(217, 189, 228);
}