.title{
    text-align: left;
    height: 110px;
    align-items: center;

    #title{
        border-bottom: solid 1px black;
        position: relative;
        margin: 0 80px;
        top:60px;
        color: #000;
        text-transform: uppercase;
    }
}
